@model InvoicePrint.Models.Invoice

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BillToName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillToName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BilltoAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BilltoAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvoiceDue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvoiceAmount)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
